# Python Virtual Environments
venv/
.venv/
env/
ENV/

# Python caching & bytecode
__pycache__/
*.py[cod]
*$py.class
*.so

# Testing and Coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
nosetests.xml
coverage.xml
*.cover

# IDE Settings & Editor Temp Files
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# Streamlit Local Configs
.streamlit/
